PGHOST="localhost"
PGPORT="5432"
PGDATABASE="loom"
PGUSER="postgres"
PGPASSWORD="password"
PGIDLE_TIMEOUT=""
PGCONNECT_TIMEOUT=""

OIDC_URL="https://localhost:8080/realms/loom"
OIDC_CLIENTID="loom-app"
OIDC_SECRET=""
OIDC_SCOPES="openid"
OIDC_DISABLE_PASSWORD='false'

KEYCLOAK_ADMIN_CLIENT_ID="loom-admin"
KEYCLOAK_ADMIN_CLIENT_SECRET=""

COOKIE_KEYS="latestsecretchangeme__oldersecretchangeme__oldestsecretchangeme"